* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: linear-gradient(135deg, #11998e, #38ef7d);
  min-height: 82.5vh;
}
h1 {
  color: #fff;
  font-weight: 20;
  font-family: fantasy, sans-serif;
}
.text1 {
  text-align: center;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 5em;
  margin-bottom: 1em;
}
form {
  text-align: center;
}

input {
  border: none;
  outline: none;
  height: 4em;
  font-size: 30px;
  font-weight: bold;
  font-family: "inter", sans-serif;
}
label {
  font-size: 40px;
  font-family: sans-serif, fantasy;
  font-weight: bold;
}
form,
label,
input {
  background-color: #fff;
  margin: 20px auto;
  margin-left: 500px;
  margin-right: 500px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer {
  text-align: center;
  font-family: "inter", sans-serif;
  font-weight: 400;
}
