* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text1 {
  text-align: center;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 5em;
  margin-bottom: 1em;
}
form {
  text-align: center;
}
input {
  background-color: white;
  border: none;
  outline: none;
  height: 4em;
  font-size: 30px;
}
label {
  font-size: 30px;
}