* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(135deg, #228d57, #85bb65);
  min-height: 82.5vh;
}
h1 {
  color: #000000;
}
.text1 {
  text-align: center;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 5em;
  margin-bottom: 1em;
}
form {
  text-align: center;
}

input {
  border: none;
  outline: none;
  height: 4em;
  font-size: 30px;
}
label {
  font-size: 30px;
}
form,
label,
input {
  background-color: #fff;
  margin: 20px auto;
  margin-left: 500px;
  margin-right: 500px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer{
  text-align: center;
}
